services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # UI for postgres
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: password
    ports:
      - "5050:80"
    depends_on:
      - postgres
    volumes:
      - pgadmin_data:/var/lib/pgadmin

  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio-data:/data

  # LOCAL for now
  prefect-server:
    image: prefecthq/prefect:3-latest
    command: ["prefect", "server", "start", "--host", "0.0.0.0"]
    ports:
      - "4200:4200"

  prefect-worker:
    build:
      context: .
      dockerfile: ./infra/prefect/Dockerfile
    depends_on:
      - minio
      - prefect-server
      #- postgres
    environment:
      PREFECT_API_URL: "http://prefect-server:4200/api"

      MINIO_ENDPOINT: http://minio:9000
      MINIO_ACCESS_KEY: admin
      MINIO_SECRET_KEY: password
      MINIO_BUCKET: raw-csv

      POSTGRES_HOST: postgres
      POSTGRES_DB: olist
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password

    volumes:
      - ./data/raw:/app/data/raw:ro

volumes:
  minio-data:
  postgres_data:
  pgadmin_data: